@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-item,
embed,
object,
video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.aspect-ratio-square {
    padding-top: 100%;
}
.aspect-ratio-16\/9 {
    padding-top: 56.25%;
}
.aspect-ratio-4\/3 {
    padding-top: 75%;
}
.aspect-ratio-21\/9 {
    padding-top: 42.86%;
}

body {
    overflow-x: hidden;
    @apply bg-white;
}
.font-roboto {
    font-family: "Roboto", sans-serif;
}
.max-h-16 {
    max-height: 16rem;
}
.gradient-slide {
    background: linear-gradient(to right, #009fff, #ec2f4b);
    opacity: 0.6;
}
.blur {
    filter: blur(5px);
}
.text-primary {
    color: theme("colors.primary");
}
.text-secondary {
    color: theme("colors.secondary");
}
.bg-primary {
    background-color: theme("colors.primary");
}
.bg-secondary {
    background-color: theme("colors.secondary");
}
.btn-primary {
    transition: 0.5s;
    @apply border border-white rounded px-5 py-2 inline-block;
}
.btn-primary:hover {
    color: theme("colors.primary");
    @apply bg-white;
}
.btn-secondary {
    transition: 0.5s;
    border-color: theme("colors.primary");
    color: theme("colors.primary");
    @apply border rounded px-5 py-2 inline-block;
}
.btn-secondary:hover {
    background-color: theme("colors.primary");
    @apply text-white;
}
.footer {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23006bbd' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    @apply bg-fixed;
}
.edu-service {
    transition: 0.5s;
    @apply p-4 rounded-lg border-t-4 border-transparent cursor-pointer w-5/6 mx-auto;
}
.edu-service:hover {
    border-color: theme("colors.primary");
    @apply shadow-2xl;
}
.home-blog-box {
    transition: 0.5s;
    @apply rounded;
}
.home-blog-box:hover {
    @apply bg-white;
}
.home-blog-box:hover h4 {
    color: theme("colors.primary");
}
.home-course {
    transition: 0.5s;
    @apply rounded-lg;
}
.home-course:hover {
    background-color: theme("colors.secondary");
    @apply shadow-lg text-white;
}
.home-course:hover .home-course-line {
    @apply bg-white;
}
#kmd-svg {
    fill-opacity: 0;
    transition: fill-opacity 1s;
}
#kmd-svg.finished {
    fill-opacity: 1;
}
#youtube-model {
    background-color: #00000090;
}
.z-max {
    z-index: 9999;
}
.z-2max {
    z-index: 99999;
}
.nav-bar {
    @apply flex justify-between z-max fixed top-0 left-0 w-full items-center;
}
.nav-item {
    transition: 0.3s;
    @apply inline-block px-3 py-2 cursor-pointer border-transparent border-b-2 mx-1;
}
.nav-item:hover,
.active {
    border-color: white;
}
.nav-mobile-menu {
    @apply px-3 py-2 cursor-pointer;
}
.child-menu {
    @apply origin-top-right absolute right-0 mt-2 w-56 shadow-lg hidden;
}
.child-menu-item {
    @apply block px-4 py-2 text-sm leading-5 text-gray-700;
}
.child-menu-item:hover {
    @apply bg-gray-100 text-gray-900;
}
.child-menu-item:focus {
    @apply outline-none bg-gray-100 text-gray-900;
}
.mobile-menu {
    top: 3.5rem;
    right: 1rem;
    @apply absolute bg-white rounded-md px-3 py-5 shadow-lg;
}
.h-half {
    height: 50vh;
}
.h-20vh {
    height: 20vh;
}
.h-60vh {
    height: 60vh;
}
.h-70vh {
    height: 70vh;
}
.h-80vh {
    height: 80vh;
}
.sidebar-box {
    @apply bg-white px-2 py-3 border-l-4 border-blue-700;
}
.post-box {
    transition: 0.5s;
    @apply bg-white rounded-lg cursor-pointer pb-3 border-b-8;
}
.post-box:hover {
    @apply shadow-2xl border-blue-700;
}
.post-popular-box {
    transition: 0.5s;
    @apply py-2 px-1 rounded;
}
.post-popular-box:hover {
    @apply bg-gray-300;
}
.post-title {
    @apply bg-white  py-5 px-3 w-2/4 shadow-lg border-l-8 border-blue-700;
}
.testimonial-header {
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
}
.testimonial-img {
    height: 70vh;
    @apply flex-auto;
}
.testimonial {
    @apply grid grid-cols-3 gap-1 bg-white px-6 py-6 rounded-md shadow-lg;
}
.testimonial img {
    @apply w-32 h-32 rounded-full inline-block shadow-xl border-4 border-white mb-3;
}
.service-header {
    margin-bottom: -5rem;
    @apply mx-auto rounded shadow-lg p-6 text-center text-white;
}
.service-step-box-1 {
    @apply bg-white rounded-lg shadow-lg;
}
.photo-box {
    transition: 0.5s;
    @apply shadow-lg rounded-md cursor-pointer;
}
.photo-card {
    @apply object-cover shadow-lg rounded-md;
}
.photo-zoom {
    background-color: #00000090;
    transition: 0.5s;
    @apply absolute w-full h-0 top-0 left-0 rounded-md flex items-center justify-center;
}
.photo-box:hover {
    /* transform: scale(1.03); */
}
.photo-box:hover .photo-zoom {
    @apply h-full;
}
.photo-box .photo-zoom > img {
    transition: 0.5s;
    @apply opacity-0;
}
.photo-box:hover .photo-zoom > img {
    @apply opacity-100;
}
.course-box {
    transition: 0.3s;
    @apply bg-white rounded;
}
.course-box img {
    transition: 0.5s;
}
.course-box:hover img {
    @apply shadow-xl;
}
.course-box:hover {
    @apply shadow-2xl;
}
.course-discount {
    @apply absolute top-0 right-0 bg-red-600 text-sm text-white px-3 py-1 shadow-md rounded-l-full mt-5;
}
.course-center-list {
    transition: 0.2s;
    @apply px-3 py-2 inline-block w-full;
}
.course-center-list:hover {
    @apply bg-gray-300;
}
.course-center-list-active {
    @apply bg-gray-300;
}
tr:nth-child(even) {
    @apply bg-gray-200;
}
td {
    @apply border border-gray-300 py-2;
}
.course-table {
    border-collapse: separate;
    border-spacing: 0.3rem 0rem;
}
.course-table-header {
    min-width: 14rem;
    max-width: 18rem;
    @apply text-xl bg-blue-600 text-white py-5 rounded-t-lg shadow-lg;
}
.course-static-header {
    min-width: 8rem;
    max-width: 8rem;
}
.enroll-btn {
    transition: 0.2s;
    @apply bg-blue-600 text-white px-8 py-2 rounded-full shadow-lg;
}
.enroll-btn:hover {
    @apply bg-blue-700;
}
